<%= render "shared/header"%>
<h1 class="page_name"><%= @course.name %></h1>

<% if user_signed_in? && current_user.role == 1 %>

    <%= @course.name %>
    <%= form_with model: @content do |form| %>

    <%= form.hidden_field :course_id, value: @course.id %>
    <p> <%= form.text_area :body, rows: 20 %> </p>
    <p> <%= form.submit 'Ok' %></p>
    <% end %>

<% else %>

<p> You are not allowed to edit such content! </p>

<% end%>

<%= render "shared/footer"%>
