<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">    
    <h1 class = "page_name">Managing</h1>
    <div>
    <% if user_signed_in? && current_user.role == 1 %>
        <% @courses.each do |course|%>
            <p><%= course.name %></p>
            <% @owns = Ownedcourse.where(course_id: course.id) %>
                <% if @owns.size != 0 %>
                    <% @owns.each do |own|%>
                        <% user = User.find(id = own.user_id) %>
                        <p><%= user.email %> <%= user.phone %> <%= user.updated_at %></p>
                    <% end %>
                <% end %>
            <br>   
        <% end %>

    <% else %>
    <p>You are not allowed to this page!</p>
    <% end %>
    </div>

    
    
    </div>    
    </div> 
<%= render "shared/footer"%>