<!DOCTYPE html>
<html>
  <head>
    <title>Beauty Academy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

  <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'My profile', user_path(current_user) %>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    <% if current_user.role == 1%>
          <%= link_to 'Add new course', new_course_path %>
           <% end %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

  <%= link_to 'Courses', courses_path%>



 

    <%= yield %>
  </body>
</html>
