<%= render "shared/header"%>
<div class = "content-part">
    <div class = "content-text">
    
    <h1 class = "page_name">ABOUT US</h1>

<div class="paragraph">
  <%= image_tag('17.jpg', class: "left-image") %>
  <p class="">
  
  I'm Liza, the creator of the first Online-Academy in beauty-sphere and the author of hair extension course for beginners and experienced hair extension specialist.
  </p>
  <p class="">
  I have been working with hair extensions more than 5 years. A lot of people come to me with different requests: covid complications, aggressive chemotherapy, correction of other specialist's extension and just the wish of girls is life with long and thick hair. As hair extension trainer I have been more 2 years and I know how to make information understandable for everyone. 
  </p>

  <p>
My goal: to teach all girls to provide beauty procedures at a first-class level. What is a "first-class level"? This is its a safe job for a specialist and a client, the use of high-quality materials, maximum accuracy and pedantry, the best result and wow effect.
</p>
  
  </div>

  <div class="paragraph">
  <%= image_tag('20.jpg', class: "right-image") %>  
  <p>
  How The Beauty Academy started? Traveling around the world and visiting beauty for hair extension. I noticed that the quality of specialists in any country loses to the quality of the work of Russian masters. Because I have experience in teaching and wishing to train or improve existing specialists to the level of Russian masters. So, the idea came up to created online course where everyone could learn the profession of hair extensions from anywhere in the world. 
  </p>
</div>

<div class="paragraph">
<h1 class = "page_name">Why my course?</h1>
  



<p>
It hasn’t analogies. 24/7 support from the curators and me, online translations, calls with the curators and me, homework, exams, certificates and diplomas.
</p>

<p>
After completing the course, everyone will receive a certificate of a listener, and those who have successfully passed the exam will receive a diploma.
</p>

<p>
Earning more than 5000$ every month in beauty-sphere in different countries in the world is real.  My students and I have improved it. If you want the same, you're in the right place.
</p>

<div class="attention">
<h3 class="attention-title">Attention!</h3>
<p>
Do u wanna take a free box with tools for hair extension? </p>
<p>Especially among the students of our course, we will play our the hairbox for you immediately work.</p>
<p>The hairbox include:</p>
<div class="twocolumns">
<ul>
<li>hot iron for extension </li>
<li>hot iron for capsulation</li>
<li>iron for removing</li>
<li>remover x2</li>
<li>iron for clamping</li>
</ul>
<ul>
<li>comb with tin spot</li>
<li>circle x5</li>
<li>silicon rug</li>
<li>hairpins</li>
</ul>
</div>
<p>
It isn’t enough!
</p>
<p>
Also with the students we will play out a free seat on the course. You going to choose: free seat on the purchased tariff (we return the cash) or upgrade to premium tariff, where you get full feedback from Liza.
</p>
</div>

<p><span class="bigger-text">
90% of students start earning money already in the second week of training.
Now it's your time to become the best specialist in hair extensions!
</span></p>
<p class="center-button"><%= link_to('I wanna buy!', courses_path, class: "button-1")%></p>


</div>


<p>

</p>


 </div>
</div>
  

<%= render "shared/footer"%>
