<%= render "shared/header"%>
<h1 class="page_name"><%= @course.name %></h1>
<p><%= @course.description_long %></p>
<p><%= @course.price %></p>


<% if user_signed_in?%>

    <% if current_user.role == 1%>
        <p><%= link_to 'Edit', edit_course_path(@course)%></p>
        <p><%= button_to 'Delete', course_path(@course), method: :delete%></p>
        <% content_exists = Content.where(course_id = @course_id) %>
        <% if content_exists.size == 0 %>

            <p><%= link_to 'Add content', new_content_path(:id => params[:id])%></p>
        <% else %>
            <p><%= link_to 'Edit content', edit_content_path(:id => params[:id])%></p>
        <% end %>
    <% end %>

    
    <% course_owned = Ownedcourse.where(course_id: @course.id, user_id: current_user.id)%>
    <% if course_owned.size != 0 %>
        <p>You already have this course</p>
    <% else %>
        <%= link_to 'Buy', new_ownedcourse_path(:id => params[:id]) %>
    <% end %>

<% end %>

<p> <%= link_to 'Back', courses_path %></p>
<%= render "shared/footer"%>
