<%= render "shared/header"%>

<div class = "courses">
    <div class = "content-text">

<h1 class="page_name">MY COURSES</h1>
<% if @ownedcourses.size != 0 %>     
    <% @ownedcourses.each do |ownedcourse|%>

        <% owned_course_name = Course.find(id = ownedcourse.course_id)%>
        <% content = Content.find_by(course_id: ownedcourse.course_id) %>

        <div class="course">
        
        <p class="course-name"><%= link_to "#{owned_course_name.name}", content_path(content) %> </p>
        <p><%= owned_course_name.description_short %></p>
        </div>
    <% end %>
<% else %>
    <p>You dont have any courses yet! <%= link_to "Follow this link", courses_path %> to find course you need. </p>
<% end %>


 </div>
</div>
  
<%= render "shared/footer"%>