<%= render "shared/header"%>
<div class = "courses">
    <div class = "content-text">
<h1 class="page_name"><%= @course.name %></h1>
<% if user_signed_in? && current_user.role == 1 %>
Do you want to buy <%= @course.name %>?
    <%= form_with model: @ownedcourse do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :course_id, value: @course.id %>
    <p> <%= form.submit 'Ok' %></p>
 <% end %>
<% end %>
  </div>
</div>
  
 <%= render "shared/footer"%>